<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Room Editor</title>
    <link rel="stylesheet" href="/css/roomeditor.css">
</head>
<body>
<h1>{{count}} Instances</h1>
</body>
</html>
